body{
    overflow-x: hidden;
    padding-bottom: 40px;
    width: 97%;
    padding-left: 15px;
}
.data{
    text-align: center;
  
}
.in{
    align-items: center;
}

table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
           
            background-color: rgb(5, 12, 75);
            color: white;
            box-shadow: 1px 2px 13px 2px ;
        }