
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
#product{
  text-align: center;
}
input[type="text"],
input[type="number"],
input[type="date"] {
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.container {
  background-color: #f8f9fa;
  border-radius: 5px;
  /* padding: 20px; */
  padding-top: 20px;
}

.container-custom {
  background-color: #f8f9fa;
  border-radius: 5px;
  /* padding: 20px; */
  padding-top: 20px;
}

.table-responsive {
  margin-top: 20px;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}
#deteils{
  height: 440px;
  border: 1px solid;
  margin-top: 20px;
  /* margin-bottom: 80px; */
  box-shadow: 2px 0px 8px 2px;
  border-radius: 8px;

}
#show{
margin-left: -20px;
margin-top: 80px;
border: 1px solid;
box-shadow: 2px 0px 8px 2px;
border-radius: 8px;
}
.total{
  margin-right: 15%;
  margin-top:-40px;;
}
.text{
  margin-right: -24%;

}
.hd{
  margin-top: -30px;
}
.shop{
  margin-top: 40px;
  width: 100%;
}
#add{
  margin-left: 950px;
  margin-top: -140px;
  width: 120px;
}
#bill{
  margin-left: 600px;
}
.but{
  margin-left: 790px;
  margin-top: 30px;
  padding: 5px;
}
.head{
  padding: 15px;
  margin-top:-20px;
 background-color: lightblue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  
}
.list{
  padding: 15px;
  margin-top:-20px;
  background-color: lightblue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.but{
  margin-right: 100px;
}




@media (max-width: 576px) {
  .form-row .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .form-row .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

@media (min-width: 992px) {
  .form-row .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
}

